body {
  background-size: inherit;
}
#navbar {
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 490px;
  height: 19vh;
}
#logo {
  margin: 5px;
}

#navbar ul {
  font-size: 18px;
}

#home {
  width: 470px;
  height: 372px;
}

#home p {
  text-align: center;
  justify-content: center;
  font-size: 1.2rem;
  padding: 15px;
}
#about {
  width: 490px;
}

section.education {
  height: 50vh;
  background-size: initial;
  width: 490px;
}

.socialmedia {
  width: 490px;
}
