body {
  background-size: 750px;
}

#navbar {
}

#logo {
  margin: 2px;
  line-height: 2px;
}
#navbar ul {
  font-size: 14px;
}
#home {
  align-items: center;
  justify-content: center;
  height: 350px;
}

#home.headings {
  font-size: 1.7em;
}
#home p {
  font-size: 1.1rem;
  padding: 15px;
}
section.education {
  height: 55vh;
  background-size: initial;
}

#sign img {
  padding: 0.5rem;
}
